---
import Section from '@components/base/Section.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/base/FormattedDate.astro';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('blog');
---

<Layout description="Recieve Polyfrost updates here" title="Polyfrost Blog">
	<Section class="mb-12 mt-96 md:mt-32">
		<div class="mx-auto min-h-100 flex flex-col content-center gap-5">
			{
				posts.length == 0 && (
					<p class="text-gray-500 italic">No posts yet</p>
				)
			}
			{
				posts
					.toSorted(
						(p1, p2) =>
							p2.data.publishDate.valueOf()
							- p1.data.publishDate.valueOf(),
					)
					.map(post => (
						<a href={`/blog/${post.slug}/`}>
							<div class="flex flex-col gap-2 md:flex-row">
								<img
									alt="Cover Image"
									class="aspect-video w-full rounded-xl bg-gray-400/40 object-cover ring-1 ring-gray-400/50 md:w-100"
									height={225}
									src={post.data.coverImage}
									width={400}
								/>
								<div class="p-1">
									<p class="date text-nowrap text-xs font-light">
										<FormattedDate
											date={post.data.publishDate}
										/>
									</p>
									<div class="flex justify-between">
										<h3 class="text-lg text-navy-peony font-semibold">
											{post.data.title}
										</h3>
									</div>
									<p class="text-sm font-light">
										{post.data.description}
									</p>
								</div>
							</div>
						</a>
					))
			}
		</div>
	</Section>
</Layout>
