---
import type { NavbarElement } from '@utils/site-info';
import { Icon } from 'astro-icon/components';
import Header from '../Header.astro';
import ScreenOverlay from '../ScreenOverlay.astro';
import ScrollbarOverlayContainer from '../ScrollbarOverlayContainer.astro';
import Tag from '../Tag.astro';

interface Props {
	element: NavbarElement;
	index: number;
	dark?: boolean;
}

const { element, index, dark } = Astro.props;

function isCurrentPage(url: string): boolean {
	return Astro.url.pathname === url;
}

const color = dark ? 'text-dark-secondary' : 'text-gray-700';
---

<li
	class="flex flex-row items-center justify-center text-center sm:relative max-sm:overflow-hidden"
>
	{
		element.path
? (
			<a
				aria-label="polyfrost logo"
				class={`flex flex-row items-center justify-center p-2 hover:text-blue-500 ${isCurrentPage(element.path) ? 'text-blue-400' : color}`}
				href={element.path}
			>
				{element.text && element.text}
				{element.logo && (
					<Icon
						class="transition-transform active:scale-95"
						height={70}
						name={element.logo[0]}
						width={
							element.logo[1] < 0 ? undefined : element.logo[1]
						}
					/>
				)}
				{element.dropdown && <Icon name="chevron-down" />}
			</a>
		)
: (
			<label class="group" for={`navbar-input-${index}`}>
				{element.dropdown && (
					<>
						<p
							class={`flex flex-row cursor-default items-center justify-center p-2 hover:text-blue-500 ${element.dropdown.filter(element => isCurrentPage(element.path ?? '')).length > 0 ? 'text-blue-400' : color}`}
						>
							{element.text && element.text}
							{element.logo && (
								<Icon
									height={
										element.logo[2] < 0
											? 'auto'
											: element.logo[2]
									}
									name={element.logo[0]}
									width={
										element.logo[1] < 0
											? 'auto'
											: element.logo[1]
									}
								/>
							)}
							{element.dropdown && <Icon name="chevron-down" />}
						</p>

						<ScreenOverlay class="z-[9998] max-sm:group-focus-within:opacity-100" />
						<input
							class="peer absolute appearance-none"
							id={`navbar-input-${index}`}
							tabindex="-1"
							type="checkbox"
						/>
						<div
							class={` pointer-events-none fixed right-0 z-[9999] opacity-0 transition-opacity focus-within:pointer-events-auto group-focus-within:pointer-events-auto md:absolute max-sm:bottom-0 md:right-0 md:top-full max-sm:h-screen max-sm:max-h-[70vh] max-sm:w-screen max-sm:overflow-hidden focus-within:opacity-100 group-focus-within:opacity-100 md:group-hover:pointer-events-auto md:hover:pointer-events-auto md:group-hover:opacity-100 md:hover:opacity-100 `}
						>
							<ScrollbarOverlayContainer
								class={` max-h-full min-h-full overflow-y-auto border border-gray-100 rounded-t-lg bg-gray-50 transition-transform max-sm:left-0 md:max-h-96 group-focus-within:translate-y-0 max-sm:translate-y-1/3 md:rounded-lg md:shadow-lg `}
								tabindex="-1"
							>
								<ul class="p-4">
									{element.dropdown.map(item => (
										<li>
											<a
												class="flex sm:max-w-[400px] sm:min-w-[400px]"
												href={item.path}
											>
												<div
													class={`w-full flex flex-row items-center justify-start gap-6 rounded-md px-6 py-4 text-left transition-[color,background-color,filter] ${item.path ? 'hover:bg-blue-50 active:bg-blue-100' : 'grayscale hover:brightness-75'}`}
												>
													<div class="w-[36px]">
														{item.logo && (
															<Icon
																name={item.logo}
																size={40}
															/>
														)}
													</div>

													<div class="flex flex-col items-start justify-start">
														<div class="flex flex-row gap-2">
															<Header
																class="text-md text-gray-800 font-medium md:text-sm"
																inheritSize
																size="md"
															>
																{item.name}
															</Header>
															{item.tag && (
																<Tag class="text-sm md:text-xxs">
																	{item.tag}
																</Tag>
															)}
														</div>
														<p class="text-md text-gray-400 font-light md:text-sm">
															{item.description}
														</p>
													</div>
												</div>
											</a>
										</li>
									))}
								</ul>
							</ScrollbarOverlayContainer>
						</div>
					</>
				)}
			</label>
		)
	}
</li>
